body{
	margin: 0;
}
body,html{
	font-family: "Uroob";
}
table,tr,td{
			border:1px solid black;
				border-collapse: collapse;
				padding: 5px;
				width: 50%;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
hr.short-white{
	border: 3px solid white;
	width: 200px;
}
hr.short-black{
	border: 3px solid black;
	width: 200px;
}
li .active{
	font-size: 30px;
	margin-left: 150px
}
li .right{
	margin-right: 150px
}
.text-desc{
	display: inline-block;
}
.exp{
	display: inline-block; list-style-type: none;
}
.profile-pic{
	border-radius: 50%
}
h1{
	font-size: 40px;
}
h2{
	font-size: 29px;
}
h3{
	font-size: 25px;
}
.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	background-color: #52e3b8; 
	display: inline-block;
	padding: 5px; border-radius: 5px; width: 20%;

}
.card:hover{
	-moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}
.card-middle{
	margin-left: 150px; margin-right: 150px;
}
.card-img{
	border-radius: 100%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-text{
	text-align: justify-all;
}
.ul-skills{
	  text-align: center;
  	  list-style: inside;
  	  margin-left: 100px;
  	  margin-right:175px;
}
.ul-skills{
	display: inline-block;
}
.green-container{
	background-color: #20c997;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.customized-container{
	background-color: #20c997;
	padding: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000019;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li.right {float: right; padding-top:10px !important;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
.par { 
  /* The image used */
		  background-image: url("../images/web.jpg");
		  opacity: 0.80;
		  /* Set a specific height */
		  height: 500px; 

		  /* Create the parallax scrolling effect */
		  background-attachment: fixed;
		  background-position: center;
		  background-repeat: no-repeat;
		  
}
.parallax{
	  background-image: url("../images/header.jpg");
		  /* Set a specific height */
		  height: 500px; 

		  /* Create the parallax scrolling effect */
		  background-attachment: fixed;
		  background-repeat: no-repeat;
		  padding-top: 25px;
}
.par-2 { 
  /* The image used */
		  background-image: url("../images/web2.jpg");
		  opacity: 0.80;
		  /* Set a specific height */
		  height: 500px; 

		  /* Create the parallax scrolling effect */
		  background-attachment: fixed;
		  background-position: center;
		  background-repeat: no-repeat;
		  
}
.par-heading{
	font-size: 60px;
	padding: 150px;
}
.par-text{
	font-size: 50px;
}
ul .bullet {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.checked {
  color: orange;
}
.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   height: 300px;
   padding-top: 5px;
   background-color: #212529;
   color: white;
   margin-top: -13.5px;
   margin-bottom: -100px;
}
.sub-footer{
	text-align: center;
	background-color:#373a3e; 
	height: 50px; 
	padding-top: 10px;
}
.container {
  width: 100%;
  background-color: #ddd;
  height: 10px;
}

.skills {
  text-align: right;
  height: 10px;
  color: white;
}

.programming {width: 90%; background-color: #3F729B;}
.framework {width: 85%; background-color: #2196F3;}
.ms-office {width: 90%; background-color: #2e7d32;}
.ipcon {width: 70%; background-color: #69f0ae;}
.server-add {width: 80%; background-color: #40c4ff;}
.replacement {width: 100%; background-color: #ef6c00;}
.cb-mng {width: 80%; background-color: #ffab40;}
.trouble {width: 80%; background-color: rgba(76, 175, 80, 0.7);
}




